version: '3'
services:
  db:
    image: arm64v8/mariadb
    volumes:
      - db_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: wordpress
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress

  wordpress:
    image: eliasjnior/wordpress-xdebug:arm64v8
    depends_on:
      - db
    volumes:
      - ./wp:/var/www/html
      - ./:/var/www/html/wp-content/plugins/pagbank-woocommerce
    ports:
      - 80:80
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_DB_NAME: wordpress

  wordpress-cli:
    image: arm64v8/wordpress:cli
    depends_on:
      - wordpress
    volumes:
      - ./wp:/var/www/html
      - ./:/var/www/html/wp-content/plugins/pagbank-woocommerce
    profiles:
      - donotstart

  phpmyadmin:
    image: phpmyadmin
    depends_on:
      - db
    ports:
      - 8080:80
    environment:
      PMA_ARBITRARY: 0
      PMA_HOST: db
      PMA_VERBOSE: wordpress
      PMA_USER: wordpress
      PMA_PASSWORD: wordpress
      PHP_UPLOAD_MAX_FILESIZE: 1G
      PHP_MAX_INPUT_VARS: 1G

volumes:
  db_data: {}
