services:
  db:
    image: mariadb
    volumes:
      - db_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: wordpress
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress

  wordpress:
    image: eliasjnior/wordpress-xdebug
    depends_on:
      - db
    volumes:
      - ./wp:/var/www/html
      - ./:/var/www/html/wp-content/plugins/pagbank-for-woocommerce
      - ./wordpress.ini:/usr/local/etc/php/conf.d/wordpress.ini
    ports:
      - 80:80
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_DB_NAME: wordpress

  wordpress-cli:
    image: wordpress:cli
    depends_on:
      - wordpress
    volumes:
      - wp_data:/var/www/html
      - ./wp:/var/www/html
      - ./:/var/www/html/wp-content/plugins/pagbank-for-woocommerce
    profiles:
      - tools

  phpmyadmin:
    image: phpmyadmin
    depends_on:
      - db
    ports:
      - 8080:80
    environment:
      PMA_ARBITRARY: 0
      PMA_HOST: db
      PMA_VERBOSE: wordpress
      PMA_USER: wordpress
      PMA_PASSWORD: wordpress
      PHP_UPLOAD_MAX_FILESIZE: 1G
      PHP_MAX_INPUT_VARS: 1G

  composer:
    image: composer:latest
    volumes:
      - ./composer.json:/app/composer.json
      - ./composer.lock:/app/composer.lock
      - ./vendor:/app/vendor
    working_dir: /app
    profiles:
      - tools

volumes:
  db_data: {}
  wp_data: {}
