parameters:
	ignoreErrors:
		-
			message: '#^Variable \$html on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: src/core/Presentation/Helpers.php
