includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 3
    phpVersion: 74000
    paths:
        - src/core
    excludePaths:
        - tests
    bootstrapFiles:
        - phpstan-bootstrap.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
    # WordPress functions that terminate execution (call wp_die internally)
    earlyTerminatingFunctionCalls:
        - wp_send_json_error
        - wp_send_json_success
    ignoreErrors:
        # Action/filter callbacks can return values that are ignored
        - '#Action callback returns .+ but should not return anything#'
        # WooCommerce Subscriptions is optional
        - '#(Call to static method|class) .+WC_Subscriptions.+#'
        # generate_settings_html echoes output when $echo is true (method override)
        -
            message: '#should return string but return statement is missing#'
            reportUnmatched: false
        # WooCommerce global properties accessed dynamically
        - '#Access to an undefined property WooCommerce::\$payment_gateways#'
