.pagbank-connect-modal {
	position: fixed;
	z-index: 99999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.pagbank-connect-modal.hidden {
	display: none;
}

.pagbank-connect-modal-close-button {
	background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
    cursor: pointer;
}

.pagbank-connect-modal-close-button:hover {
	opacity: 0.8;
}

.pagbank-connect-modal-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.pagbank-connect-modal-content {
	width: 100%;
	max-width: 600px;
	padding: 30px;
	border-radius: 5px;
	background-color: #fff;
	position: relative;
}

.pagbank-connect-modal p {
	margin-bottom: 10px !important;
	margin-top: 0 !important;
}

.pagbank-connect-modal table {
	width: 100%;
	margin: 20px 0;
}

.pagbank-connect-modal table,
.pagbank-connect-modal th,
.pagbank-connect-modal td {
	border: 1px solid #e3e3e3;
	border-collapse: collapse;
}

.pagbank-connect-modal th,
.pagbank-connect-modal td {
	padding: 10px;
}

.pagbank-connect-modal td {
	text-align: center;
	padding: 20px 10px;
}

.pagbank-connect-modal th {
	text-align: center;
}

.pagbank-connect-modal table ul {
	list-style: disc;
	margin-top: 0;
	margin-left: 20px;
	font-size: 0.8rem;
	text-align: left;
}

.pagbank-connect-modal table button {
	text-decoration: none;
    background-color: #1bb99a;
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    border-radius: 3px;
    font-size: 1.2rem;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
	border: none;
	cursor: pointer;
}

.pagbank-connect-modal table button:hover:not(:disabled) {
	background-color: #1a947b;
}

.pagbank-connect-modal table button:disabled {
	opacity: 0.6;
	cursor: auto;
}

.pagbank-connect-modal .pagbank-connect-modal-own-condition,
.pagbank-connect-modal .pagbank-connect-modal-condition-sandbox {
	text-align: center;
}

.pagbank-connect-modal .pagbank-connect-modal-own-condition button {
	border: none;
    background-color: transparent;
    color: #1bb99a;
    cursor: pointer;
}

.pagbank-connect-modal .pagbank-connect-modal-own-condition button:hover:not(:disabled) {
	color: #1a947b;
}

.pagbank-connect-modal .pagbank-connect-modal-own-condition button:disabled {
	cursor: auto;
	opacity: 0.6;
}

.pagbank-connect-modal .pagbank-connect-modal-condition-sandbox button {
	text-decoration: none;
    background-color: #1bb99a;
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    border-radius: 3px;
    font-size: 1.2rem;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
	border: none;
	cursor: pointer;
}

.pagbank-connect-modal .pagbank-connect-modal-condition-sandbox button:hover:not(:disabled) {
	background-color: #1a947b;
}

.pagbank-connect-modal .pagbank-connect-modal-condition-sandbox button:disabled {
	cursor: auto;
	opacity: 0.6;
}
