.pagbank-boleto {
	border: 1px solid #e3e3e3;
	padding: 20px;
	margin: 20px 0;

	.center {
		text-align: center;
	}

	hr {
		margin: 20px 0;
		background-color: #e3e3e3;
	}

	.pagbank-barcode-display {
		display: flex;
		justify-content: center;
		margin: 15px 0;
		overflow-x: auto;

		svg {
			max-width: 100%;
			height: auto;
		}
	}

	.boleto-barcode {
		display: flex;
		justify-content: center;
		margin: 15px 0;

		button {
			margin-left: 10px;
		}
	}
}
